API_ID=
API_HASH=
BOT_TOKEN=

ADMIN_CHAT_ID=7086472788 # ADMIN_CHAT_ID = OWNER
ADMINS = [7086472788] # ADMINS LIST

CHANNEL_ID= # MAIN CHANNEL ID
DUMP_CHANNEL_ID= # DUMP CHANNEL ID

BOT_USERNAME= # FILE STORE USERNAME
CHANNEL_NAME= # CHANNEL USERNAME
CHANNEL_USERNAME= # CHANNEL USERNAME

DELETE_TIMER=3600 # AUTO DELETE TIMER

MONGO_URI= # MONGO URL
DB_NAME=AutoAnimePahe # DB NAME

FIXED_THUMBNAIL_PIC=https://i.postimg.cc/QCQgY9Xk/photo-2026-01-02-09-25-44.jpg # THMUBNAIL
START_PIC_URL=https://wallpapers.com/images/hd/anime-white-lbgo5w4pxnpg6ike.jpg # START PIC LINK

PORT=8080 # PORT
